
GROQ_API_KEY=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 
GROQ_MODEL=llama-3.1-8b-instant
OLLAMA_BASE_URL=http://127.0.0.1:11434
OLLAMA_MODEL=llama3.1:8b
KB_PATH=data.json
KB_MIN_RATIO=0.72

